body {
  background-color: rgb(150, 202, 127);
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 50px;
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  font-weight: bolder;
  text-align: center;
}

#back-button {
  width: 100px;
  padding: 10px 20px;
  background-color: darkgreen;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
  margin-top: 20px;
}

#back-button:hover {
  transform: scale(1.1);
}

#user-items-list {
  align-self: center;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: #ffffcc;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  border-radius: 5px;
}

#user-items-list th {
  background-color: #f2f2f2;
  text-align: left;
  padding: 15px;
}

#user-items-list td {
  border-bottom: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  text-align: center;
  vertical-align: middle;
}

#user-items-list tr:hover {
  background-color: lightgreen;
}

#user-items-list button {
  border: none;
  cursor: pointer;
  font-size: inherit;
  padding: 5px 10px;
  background-color: #ffefd5;
  border-radius: 5px;
  text-align: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s;
}

#user-items-list button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
